#toolbar {
  padding: 4px 8px;
  position: fixed;
  top: 15px;
  left: 150px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(117, 116, 116, 0.822);
  border-radius: 8px;
}

* {
  box-sizing: content-box !important;
}

input,
label,
button {
  cursor: pointer;
}

.highlight {
  transition: background-color 0.3s;
}

.highlight-mark-tools {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 4px;
  border-radius: 8px;
}

.color-input {
  background-color: transparent !important;
  border: none !important;
  height: 33px !important;
  width: 33px !important;
}

.color-input::-webkit-color-swatch {
  border-radius: 50%;
}

#color-checkbox,
#add-comment-checkbox {
  display: none;
}

.color-label,
.add-comment-label {
  padding: 4px;
  border-radius: 4px;
  transition: 0.3s ease;
  position: relative;
  font-size: 18px;
  color: #fff;
}

.color-label:hover::after,
.undo-marker-button:hover::after,
.add-comment-label:hover::after {
  display: block;
}

.color-label::after,
.undo-marker-button::after,
.add-comment-label::after {
  content: "Mark";
  display: none;
  position: absolute;
  color: #111;
  top: -100%;
  left: 0;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 12px;
  animation: fade 0.3s ease;
}
.color-label::before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 3px;
  background-color: #fff;
  border-radius: 4px;
  width: 70%;
  height: 2px;
  border-radius: 4px;
  font-size: 12px;
  animation: fade 0.3s ease;
}

.add-comment-label::after {
  content: "Comment";
}

#color-checkbox:checked ~ .color-label,
#add-comment-checkbox:checked ~ .add-comment-label {
  background-color: #fff;
  color: rgb(25, 128, 25);
}
#color-checkbox:checked ~ .color-label::before {
  background-color: rgb(25, 128, 25);
}

.undo-marker-button {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  font-size: 18px;
  transition: 0.1s ease;
}

.undo-marker-button::after {
  top: -140%;
  content: "Undo";
}

.undo-marker-button:enabled {
  color: #fff;
}

.undo-marker-button:enabled:active {
  transform: scale(0.9);
}

.undo-marker-button:enabled:active::after {
  display: none;
}

.add-comment-button {
  color: red;
}

.comment-modal {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #11111175;
  z-index: 100;
}

.modal-form {
  border-radius: 8px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.comment {
  background-color: transparent;
}
